

<footer class="footer">
    <div class="container">
        <div class="section-footer-inner">
            <div class="navs-wrapper __footer">
                <nav class="nav __footer">
                    <ul class="nav-list __footer">
                        <li class="nav-list__item __footer">
                            <a class="nav-list__item-link __footer" href="#">производство
                            </a>

                        </li>
                        <li class="nav-list__item __footer">
                            <a class="nav-list__item-link __footer" href="#">   команда
                            </a>
                        </li>
                        <li class="nav-list__item __footer">
                            <a class="nav-list__item-link __footer" href="#">система контроля качества
                            </a>
                        </li>
                        <li class="nav-list__item __footer">
                            <a class="nav-list__item-link __footer" href="#">куриное инкубационное яйцо
                            </a>
                        </li>
                    </ul>


                </nav>

                <nav class="nav __footer">
                    <ul class="nav-list __footer">
                        <li class="nav-list__item __footer">
                            <a class="nav-list__item-link __footer" href="#"> куриные эмбрионы
                            </a>

                        </li>
                        <li class="nav-list__item __footer">
                            <a class="nav-list__item-link __footer" href="#"> кровь куриная дефибринированная

                            </a>
                        </li>
                        <li class="nav-list__item __footer">
                            <a class="nav-list__item-link __footer" href="#"> клиенты

                            </a>
                        </li>
                        <li class="nav-list__item __footer">
                            <a class="nav-list__item-link __footer" href="#"> статьи
                            </a>
                        </li>
                    </ul>


                </nav>



            </div>
            <div class="contacts-info-block __footer">
                <div class="contacts-info-item e-mail __footer">
                    <a href="mailto:pitomnik-podmoklovo@mail.ru">pitomnik-podmoklovo@mail.ru</a>
                </div>
                <div class="contacts-info-item phone-number __footer">
                    <a href="tel:+78005002946"> 7 (800) 500-29-46</a>
                </div>
                <div class="contacts-info-item phone-number __footer">
                    <a href="tel:+74994442945"> 7 (499) 444-29-45</a>
                </div>
            </div>

            <div class="main-logo-block __footer">
                <a href="#">
                    <picture>
                        <img src="assets/images/main-logo.svg" alt="main logo">
                    </picture>
                </a>
            </div>
        </div>
    </div>
</footer>