<header class="header">
    <div class="container">
        <div class="section-header-inner">
<!--            <input id="menu__toggle" type="checkbox" />-->
            <div class="burger __header" id="burger-left-header">
                <span></span>
            </div>
            <div class="drop-down-menu __header">
                <a href="#" class="close">
                    <img src="assets/images/close.svg" alt="">
                </a>
                <div class="drop-down-menu__inner __header">
                    <nav class="nav __header">
                        <ul class="nav-list __header">
                            <li class="nav-list__item __header">
                                <a class="nav-list__item-link __header" href="#">
                                    ГЛАВНАЯ
                                </a>
                            </li>
                            <li class="nav-list__item __header active">
                                <a class="nav-list__item-link __header about-us-item-header" href="#">
                                    О КОМПАНИИ
                                </a>
                                <img class="arrow-drop-down-header" src="../assets/images/arrow-right.svg" alt="">
                                <div class="drop-down-inner __header-inner">
                                    <nav class="nav __header-inner">
                                        <ul class="nav-list __header-inner">
                                            <li class="nav-list__item __header-inner __first-inner-drop-item">
                                                <a class="nav-list__item-link __header-inner" href="#">ПРОИЗВОДСТВО</a>
                                            </li>
                                            <li class="nav-list__item">
                                                <a class="nav-list__item-link __header-inner" href="#">КОМАНДА</a>
                                            </li>
                                            <li class="nav-list__item">
                                                <a class="nav-list__item-link __header-inner" href="#">СИСТЕМА КОНТРОЛЯ КАЧЕСТВА
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </li>
                            <li class="nav-list__item __header">
                                <a class="nav-list__item-link __header" href="#">
                                    ПРОДУКЦИЯ
                                </a>
                            </li>
                            <li class="nav-list__item __header">
                                <a class="nav-list__item-link __header" href="#">
                                    КЛИЕНТЫ
                                </a>
                            </li>
                            <li class="nav-list__item __header">
                                <a class="nav-list__item-link __header" href="#">
                                    СТАТЬИ
                                </a>
                            </li>
                            <li class="nav-list__item __header">
                                <a class="nav-list__item-link __header" href="#">
                                    КОНТАКТЫ
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="contacts-info-item e-mail __header mobile-hide">
                <a href="mailto:pitomnik-podmoklovo@mail.ru" >pitomnik-podmoklovo@mail.ru</a>
            </div>
            <div class="contacts-info-item phone-number __header mobile-hide">
                <a href="tel:+74994442945"> 7 (499) 444-29-45</a>
            </div>

            <div class="main-logo-block __header">
                <a href="#">
                    <picture>
                        <img src="assets/images/main-logo.svg" alt="main logo">
                    </picture>
                </a>
            </div>
            <div class="contacts-info-item phone-number __header mobile-hide">
                <a href="tel:+78005002946"> 7 (800) 500-29-46</a>
            </div>
            <div class="lang-buttons-wrapper">
                <div class="lang-select-item-wrapper">
                    <input class="lang-select__radio-button" type="radio" name="lang" value="RU">
                    <a class="lang-select__link active" href="#" id="ru-lang">RU</a>
                </div>
                <div class="lang-select-item-wrapper">
                    <input class="lang-select__radio-button" type="radio" name="lang" value="EN">
                    <a class="lang-select__link" href="#" id="en-lang">EN</a>
                </div>
            </div>
            <a class="btn-main btn-default btn-main--small mobile-hide" href="#">ОТПРАВИТЬ ЗАПРОС</a>
        </div>
    </div>
</header>